#level {
  --block-columns: 2;
}

.block-containers {
  display: flex;
  background-color: yellow;
  flex-flow: row wrap;
}

.block {
  flex-grow: 1;
  border: 1px solid red;
  width: calc(100% / var(--block-columns));
  height: calc(100% / var(--block-columns));
}

#level--home__block-container {
  --block-columns: 2;
}

#level--one__block-container {
  --block-columns: 4;
}

#level--two__block-container {
  --block-columns: 3;
}

#level--three__block-container {
  --block-columns: 4;
}

#level--four__block-container {
  --block-columns: 4;
}

#level--five__block-container {
  --block-columns: 4;
}
