#content {
  --block-size: 120px;
}

.block-container {
  display: flex;
  flex-flow: row wrap;
}

#level--home__block-container {
  --block-columns: 2;
  --block-rows: 2;
}

#level--one__block-container {
  --block-size: 140px;
  --block-columns: 4;
  --block-rows: 2;
}

#level--two__block-container {
  --block-size: 140px;
  --block-columns: 3;
  --block-rows: 3;
}

#level--three__block-container {
  --block-columns: 4;
  --block-rows: 4;
}

#level--four__block-container {
  --block-columns: 4;
  --block-rows: 4;
}

#level--five__block-container {
  --block-columns: 4;
  --block-rows: 5;
}

.block-container {
  width: calc(min(var(--block-size) * var(--block-columns), 95vw, (95vh - var(--selectors-height) * 2) / var(--block-rows) * var(--block-columns)));
  height: calc(min(var(--block-size) * var(--block-rows), 95vw / var(--block-columns) * var(--block-rows), 95vh - var(--selectors-height) * 2));
}

/* LOWER MAXIMUM HEIGHT ON MOBILE DEVICES DUE TO THE BROWSER'S SEARCH BAR */
@media (pointer: coarse)  {
  .block-container {
    width: calc(min(var(--block-size) * var(--block-columns), 95vw, (95vh - (var(--selectors-height) + 40px) * 2) / var(--block-rows) * var(--block-columns)));
    height: calc(min(var(--block-size) * var(--block-rows), 95vw / var(--block-columns) * var(--block-rows), 95vh - (var(--selectors-height) + 40px) * 2));
  }
}

.block {
  width: calc(100% / var(--block-columns));
}
