#content {
  --block-size: 120px;
}

.block-containers {
  display: flex;
  flex-flow: row wrap;
}

#level--home__block-container {
  --block-columns: 2;
  --block-rows: 2;
}

#level--one__block-container {
  --block-columns: 4;
  --block-rows: 2;
}

#level--two__block-container {
  --block-columns: 3;
  --block-rows: 3;
}

#level--three__block-container {
  --block-columns: 4;
  --block-rows: 4;
}

#level--four__block-container {
  --block-columns: 4;
  --block-rows: 4;
}

#level--five__block-container {
  --block-columns: 4;
  --block-rows: 5;
}

.block-containers {
  width: calc(var(--block-size) * var(--block-columns));
  height: calc(var(--block-size) * var(--block-rows));
}

.block {
  outline: 1px solid yellow;
  width: calc(100% / var(--block-columns));
}
