#container {
  --home: "Home";
  --home-subtitle: "How to play";
  --home-content: "Thats how to play: blá blá blá...";
  
  --about: "About";
  --about-subtitle: "About the game";
  --about-content: "This is the game: blá blá blá...";
  
  --btn-en-primary-color: var(--lang-primary-color);
  --btn-en-secondary-color: var(--lang-secondary-color);

  --btn-pt-primary-color: var(--lang-primary-color);
  --btn-pt-secondary-color: var(--lang-secondary-color);
}

#language__en:checked ~ #container {
  --home: "Home";
  --home-subtitle: "The most practical puzzle on the web!";
  --home-content: "It's simple to play: just scroll inside each block to find the right piece and build the picture with all blocks";
  
  --about: "About";
  --about-subtitle: "About the game";
  --about-content: "This is the game: blá blá blá...";

  --btn-en-primary-color: var(--lang-secondary-color);
  --btn-en-secondary-color: var(--lang-primary-color);
}

#language__pt:checked ~ #container {
  --home: "Início";
  --home-subtitle: "O puzzle mais prático da internet!";
  --home-content: "Para jogar é simples: role dentro de cada bloco até encontrar a peça correta e tente formar a imagem com todos os blocos";
  
  --about: "Sobre";
  --about-subtitle: "Sobre o jogo";
  --about-content: "Esse é o jogo: blá blá blá...";

  --btn-pt-primary-color: var(--lang-secondary-color);
  --btn-pt-secondary-color: var(--lang-primary-color);
}

#language--en {
  background-color: var(--btn-en-primary-color);
  color: var(--btn-en-secondary-color);
}

#language--pt {
  background-color: var(--btn-pt-primary-color);
  color: var(--btn-pt-secondary-color);
}

/* INSERTING TRANSLATED CONTENT */
#menu--home__subtitle::before {
  content: var(--home-subtitle);
}

#menu--home__content::before {
  content: var(--home-content);
}

#menu--about__subtitle::before {
  content: var(--about-subtitle);
}

#menu--about__content::before {
  content: var(--about-content);
}

#menu-selection--home::before {
  content: var(--home);
}

#menu-selection--about:before {
  content: var(--about);
}