#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  width: min(100%, 720px);
  height: calc(100% - 60px);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.select-language {
  display: none;
}

.language-selector {
  display: inline-block;
  padding: 8px;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
}