:root {
  --content-width: min(100%, 520px);
  --selectors-height: min(30px, 5vh);
}

#container {
  background-color: var(--background-color);
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms;
  overflow: hidden;
}

.selectors-container {
  width: var(--content-width);
  height: var(--selectors-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#level-selection__container {
  font-weight: bold;
  border-start-start-radius: 6px;
  border-start-end-radius: 6px;
  overflow: hidden;
}

#menu-selection__container {
  border-end-end-radius: 6px;
  border-end-start-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--grey);
  border-top: 0;
}

#content {
  width: var(--content-width);
  height: calc(100% - var(--selectors-height) * 2);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu__container, .menu-content__container {
  width: 100%;
  height: 100%;
}

.menu-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fade-content 400ms;
          animation: fade-content 400ms;
}

.menu-content__container p {
  white-space: pre-line;
}

@-webkit-keyframes fade-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* DISABLE UNECESSARY TRANSITION AND ANIMATION FOR MOBILE CLIENTS */
@media (pointer: coarse)  {
  #container {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .menu-content__container {
    -webkit-animation: none;
            animation: none;
  }
}