#container {
  --state-content__menu: none;
  --state-content__home: none;
  --state-content__lang: none;
  --state-content__about: none;
  
  --state-content__one: none;
  --state-content__two: none;
  --state-content__three: none;
  --state-content__four: none;
  --state-content__five: none;
}

#content__home:checked ~ #container,
#content__lang:checked ~ #container,
#content__about:checked ~ #container {
  --state-content__menu: flex;
}

#content__home:checked ~ #container {
  --state-content__home: flex;
}

#content__lang:checked ~ #container {
  --state-content__lang: flex;
}

#content__about:checked ~ #container {
  --state-content__about: flex;
}

#content__one:checked ~ #container {
  --state-content__one: flex;
}

#content__two:checked ~ #container {
  --state-content__two: flex;
}

#content__three:checked ~ #container {
  --state-content__three: flex;
}

#content__four:checked ~ #container {
  --state-content__four: flex;
}

#content__five:checked ~ #container {
  --state-content__five: flex;
}

#menu__container {
  display: var(--state-content__menu);
}

#menu__home {
  display: var(--state-content__home);
}

#menu__lang {
  display: var(--state-content__lang);
}

#menu__about {
  display: var(--state-content__about);
}

#level--one__block-container {
  display: var(--state-content__one);
}

#level--two__block-container {
  display: var(--state-content__two);
}

#level--three__block-container {
  display: var(--state-content__three);
}

#level--four__block-container {
  display: var(--state-content__four);
}

#level--five__block-container {
  display: var(--state-content__five);
}