.content-selector {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.selection {
  position: absolute;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.selectors-container {
  width: min(100%, 720px);
  height: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#menu-selection { 
  top: 0;
  left: 0;
}

.menu-selection__btn {
  flex-grow: 2;
  flex-basis: 0;
  transition: 300ms;
}

.menu-selection__btn:hover {
  flex-grow: 2.15;
}

#menu-selection__btn--lang {
  flex-grow: 1;
}

#menu-selection__btn--lang:hover {
  flex-grow: 1.15;
}


#level-selection {
  bottom: 0;
  left: 0;
}

.level-selection__btn {
  flex-grow: 1;
  flex-basis: 0;
  transition: 300ms;
}

.level-selection__btn:hover {
  flex-grow: 1.15;
}

#menu-selection--home {
  background-color: var(--home-primary-color);
  color: var(--home-secondary-color);
}

#menu-selection--lang {
  background-color: var(--lang-primary-color);
  color: var(--lang-secondary-color);
}

#menu-selection--about {
  background-color: var(--about-primary-color);
  color: var(--about-secondary-color);
}

#level-selection--one {
  background-color: var(--one-primary-color);
  color: var(--one-secondary-color);
}

#level-selection--two {
  background-color: var(--two-primary-color);
  color: var(--two-secondary-color);
}

#level-selection--three {
  background-color: var(--three-primary-color);
  color: var(--three-secondary-color);
}

#level-selection--four {
  background-color: var(--four-primary-color);
  color: var(--four-secondary-color);
}

#level-selection--five {
  background-color: var(--five-primary-color);
  color: var(--five-secondary-color);
}