:root {
  --container-width: 520px;
  --selectors-height: min(30px, 5vh);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 700ms;
}

.language-selector {
  display: inline-block;
  padding: 8px;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
}

.selectors-container {
  width: min(100%, var(--container-width));
  height: var(--selectors-height);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#content {
  width: min(100%, var(--container-width));
  height: calc(100% - var(--selectors-height) * 2);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.content__container {
  animation: pop-content 700ms;
}

@keyframes pop-content {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#menu__container, .menu-content__container {
  width: 100%;
  height: 100%;
}

.menu-content__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.menu__title {
  font-size: 2.5rem;
  margin: min(20px, 2vh) 0;
  text-transform: uppercase;
  transform: scaleY(0.7);
  letter-spacing: -5px;
}

.menu__subtitle {
  padding: 0 8px;
  text-align: center;
  margin-bottom: min(60px, 4vh);
}

#tutorial {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.menu__content {
  text-align: center;
  padding: 0 4px;
  margin-bottom: min(40px, 4vh);
}

.menu__bottom {
  margin: min(60px, 6vh) 0;
}