#b01:hover .tile:nth-child(4) {
  animation: highlight 1000ms infinite;
}

#b02:hover .tile:nth-child(3) {
  animation: highlight 1000ms infinite;
}

@keyframes highlight {
  0%, 100% {
    box-shadow: inherit;
  }
  20% {
    box-shadow: inset 0 0 2px 3px #43b2f8;
  }
}

#b01 {
  position: relative;
}

#level--home__block-container {
  position: relative;
  margin-top: calc(min(35px, 13vw) + min(20px, 2vh));
}

#scroll-icon {
  background-image: radial-gradient(var(--c-dark) 35%, var(--c-light) 40%);
  width: min(35px, 13vw);
  height: min(35px, 13vw);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  outline: 1px solid var(--c-dark);
  margin: min(13px, 1.5vw, 3vh);
  position: absolute;
  bottom: 100%;
  right: 0;
  box-shadow: 0 10px 80px -8px #000000EE, 0 2px 3px -2px #000000EE;
}

#scroll-icon::after {
  content: '';
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 100px;
  background-color: #43b2f8;
  animation: scroll 1200ms infinite ease;
}

@keyframes scroll {
  0% {
    transform: translatey(85%);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translatey(-85%);
    opacity: 0;
  }
}