main {
    display: none;
}
#mobile {
    display: block;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
p {
    width: 80vw;
    font-size: 24px;
    text-align: center;
    margin: 3vh auto;
    color: #171738;
}
a {
    color: #171738;
}