:root {
  --c-light: #f2f2f4;
  --c-dark: #171738;
  --c-bege: #EFBC9B;
  --c-green: #97d1b5;
  --c-brown: #9b6e74;
  --c-red: #dd5c66;
  --c-purple: #9C89B8;
  
  --c-blue: #8ecbf2;

  --home-primary-color: var(--c-light);
  --home-secondary-color: var(--c-dark);

  --lang-primary-color: var(--c-dark);
  --lang-secondary-color: var(--c-light);
  
  --about-primary-color: var(--c-light);
  --about-secondary-color: var(--c-dark);
  
  --one-primary-color: var(--c-bege);
  --one-secondary-color: var(--c-dark);
  
  --two-primary-color: var(--c-green);
  --two-secondary-color: var(--c-dark);
  
  --three-primary-color: var(--c-brown);
  --three-secondary-color: var(--c-dark);
  
  --four-primary-color: var(--c-purple);
  --four-secondary-color: var(--c-dark);
  
  --five-primary-color: var(--c-red);
  --five-secondary-color: var(--c-dark);
}
