#language__en:checked ~ #container {
  --lang: "en";

  --home: "Home";
  --home-subtitle: "The most practical puzzle on the web!";
  --home-description: "Just scroll to find the right piece to build the picture with all blocks";
  --home-label: "Try it!";
  --home-bottom: "Thats all! Select the next level below when youre ready. Have fun ^^";
  
  --about: "About";
  --about-subtitle: "This puzzle was designed and developped in 2021, by Refu. The first version was released in 2022 and the second version in 2023. Focusing on simplicity, the gameplay is made only by the scrolling movement, dispensing even the use of clicks.";
  --about-content: "";
  --about-github: "Github: ";
  --about-repo: "Repository: ";
  --about-version: "Version: ";
}

#language__pt:checked ~ #container {
  --lang: "pt";

  --home: "Início";
  --home-subtitle: "O puzzle mais prático da internet!";
  --home-description: "Apenas role até encontrar a peça correta para montar a imagem com todos os blocos";
  --home-label: "Experimente!";
  --home-bottom: "Isso é tudo! Slecione o próximo nível abaixo quando estiver pronto. Divirta-se ^^";
  
  --about: "Sobre";
  --about-subtitle: "Este quebra-cabeças foi idealizado e desenvolvido em 2021, por Refu. Sua primeira versão foi lançada em 2022 e a segunda versão em 2023. Objetivando a simplicidade, a gameplay se dá apenas pelo movimento de rolamento (scroll), dispensando até mesmo o uso de clicks.";
  --about-content: "";
  --about-github: "Github: ";
  --about-repo: "Repositório: ";
  --about-version: "Versão: ";
}

/* INSERTING TRANSLATED CONTENT */
#menu-selection--home::before {
  content: var(--home);
}

#menu-selection--lang::before {
  content: var(--lang);
}

#menu-selection--about:before {
  content: var(--about);
}

#home__subtitle::before {
  content: var(--home-subtitle);
}

#tutorial__description::before {
  content: var(--home-description);
}

#tutorial__label::before {
  content: var(--home-label);
}

#tutorial__bottom::before {
  content: var(--home-bottom);
}

#about__subtitle::before {
  content: var(--about-subtitle);
}

#about__content::before {
  content: var(--about-content);
}

#about__github::before {
  content: var(--about-github);
}

#about__repo::before {
  content: var(--about-repo);
}

#about__version::before {
  content: var(--about-version);
}