#language__en:checked ~ #container {
  --lang: "en";

  --home: "Home";
  /* --home-subtitle: "The most practical puzzle on the web!"; */
  --home-description: "Use the scroll to find the correct piece in each block and assemble the final image.";
  /* --home-label: "Try it!"; */
  --home-bottom: "No level nanny here, you're all grown up and can pick on your own the next level below when you're ready ;)";
  
  --about: "About";
  --about-subtitle: "This puzzle was designed and developped in 2021, by Refu. The first version was released in 2022 and the second version in 2023. Focusing on simplicity, the gameplay is made only by the scrolling movement, dispensing even the use of clicks.";
  --about-content: "";
  --about-repo: "Repository: ";
  --about-version: "Version: ";
}

#language__pt:checked ~ #container {
  --lang: "pt";

  --home: "Início";
  /* --home-subtitle: "O puzzle mais prático da internet!"; */
  --home-description: "Use o scroll para encontrar a peça correta em cada bloco e montar a imagem final.";
  /* --home-label: "Experimente!"; */
  --home-bottom: "Não sou eu quem escolhe seu nível, você já é adulto! Selecione o próximo nível abaixo quando estiver pronto ;)";
  
  --about: "Sobre";
  --about-subtitle: "Objetivando a simplicidade, a gameplay de Scrollzz se dá apenas pelo movimento de rolamento (scroll), dispensando até mesmo o uso de clicks. Além da simples gameplay, o puzzle também tem o propósito de não usar tecnologias complexas, sendo desenvolvido apenas com as linguagens HTML e CSS, um desafio de desenvolvimento.";
  --about-content: "Este quebra-cabeças foi idealizado e desenvolvido em 2021, sua primeira versão foi lançada em 2022 e a segunda versão em 2023. Se tiver o interesse em colaborar para próxima atualização, considere entrar em contato com o desenvolvedor para um feedback ou, se também for um desenvolvedor, sinta-se livre para fazer o seu pull-request no GitHub.";
  --about-repo: "Repositório: ";
  --about-version: "Versão: ";
}

/* INSERTING TRANSLATED CONTENT */
#menu-selection--home::before {
  content: var(--home);
}

#menu-selection--lang::before {
  content: var(--lang);
}

#menu-selection--about:before {
  content: var(--about);
}

#home__subtitle::before {
  content: var(--home-subtitle);
}

#tutorial__description::before {
  content: var(--home-description);
}

#tutorial__label::before {
  content: var(--home-label);
}

#tutorial__bottom::before {
  content: var(--home-bottom);
}

#about__subtitle::before {
  content: var(--about-subtitle);
}

#about__content::before {
  content: var(--about-content);
}

#about__repo::before {
  content: var(--about-repo);
}

#about__version::before {
  content: var(--about-version);
}