#menu__about {
  color: var(--about-secondary-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#about__title {
  text-align: center;
  margin-bottom: min(40px, 4vh, 3vw);
}

#menu__about h3 {
  font-size: min(1.5rem, 4.5vh, 5.8vw);
  padding: 0 8px;
  margin-bottom: min(40px, 4vh, 5vw);
}

#about__content {
  font-size: min(1.2rem, 3vh, 5vw);
  padding: 0 8px;
  margin-bottom: min(40px, 4vh, 4vw);
}

#about__contact-word {
  width: 100%;
}

#about__contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
}

#about__contact li {
  flex-grow: 1;
  list-style: none;
  height: min(30px, 5vh);
  background-color: var(--about-secondary-color);
  color: var(--about-primary-color);
  transition: 300ms;
}

#about__contact li:hover {
  color: var(--about-secondary-color);
  background-color: var(--about-primary-color);
  flex-grow: 2.15;
}

#about__contact li a {
  color: currentColor;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: min(1rem, 3vh, 5vw);
  text-decoration: unset;
  transition: 300ms;
}

#about__footer {
  font-size: min(.9rem, 2.7vh, 5vw);
  padding: min(16px, 2.6vh, 3.5vw) min(10px, 2vh, 2vw);
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#about__footer > * {
  width: 100%;
}

#about__visitors {
  height: min(1.2rem, 3.5vh, 5vw);
  max-width: min(100px, 20vh);
}