#b01:hover .tile:nth-child(4),
#b02:hover .tile:nth-child(3) {
  animation: highlight 1200ms infinite;
}

@media (pointer: coarse)  {
  #b01:hover .tile:nth-child(4),
  #b02:hover .tile:nth-child(3) {
    animation: unset;
  }
}

@keyframes highlight {
  0%, 100% {
    background-color: var(--c-blue);
  }
  55% {
    background-color: transparent;
  }
}

#b01 {
  position: relative;
}

#level--home__block-container {
  margin-top: 1ex;
}

#scroll-icon {
  background-image: radial-gradient(var(--c-dark) 35%, var(--c-light) 40%);
  width: min(35px, 13vw, 6vh);
  height: min(35px, 13vw, 6vh);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
  outline: 1px solid var(--c-dark);
  margin-left: min(2ex, 20vw);
  box-shadow: 0 10px 80px -8px #000000EE, 0 2px 3px -2px #000000EE;
}

#scroll-icon::after {
  content: '';
  display: block;
  width: 30%;
  height: 30%;
  border-radius: 100px;
  background-color: var(--c-blue);
  animation: scroll 1200ms infinite ease;
}

@keyframes scroll {
  0% {
    transform: translatey(85%);
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translatey(-85%);
    opacity: 0;
  }
}