#b01:hover .tile:nth-child(4) {
  animation: flash 900ms infinite;
}

#b02:hover .tile:nth-child(3) {
  animation: flash 900ms infinite;
}

#b03:hover .tile:nth-child(3) {
  animation: flash 900ms infinite;
}

#b04:hover .tile:nth-child(4) {
  animation: flash 900ms infinite;
}


@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  5% {
    opacity: 0.7;
  }
}