:root {
  --star-1: url('../../images/star/01.svg');
  --star-2: url('../../images/star/02.svg');
  --star-3: url('../../images/star/03.svg');
  --star-4: url('../../images/star/04.svg');

  --polygon-1: url('../../images/polygon/11.svg');
  --polygon-2: url('../../images/polygon/12.svg');
  --polygon-3: url('../../images/polygon/13.svg');
  --polygon-4: url('../../images/polygon/14.svg');
  --polygon-5: url('../../images/polygon/15.svg');
  --polygon-6: url('../../images/polygon/16.svg');
  --polygon-7: url('../../images/polygon/17.svg');
  --polygon-8: url('../../images/polygon/18.svg');
  
  --circle-1: url('../../images/octagon/21.svg');
  --circle-2: url('../../images/octagon/22.svg');
  --circle-3: url('../../images/octagon/23.svg');
  --circle-4: url('../../images/octagon/24.svg');
  --circle-5: url('../../images/octagon/25.svg');
  --circle-6: url('../../images/octagon/26.svg');
  --circle-7: url('../../images/octagon/27.svg');
  --circle-8: url('../../images/octagon/28.svg');
  --circle-9: url('../../images/octagon/29.svg');
  
  --cube-1: url('../../images/cube/31.svg');
  --cube-2: url('../../images/cube/32.svg');
  --cube-3: url('../../images/cube/33.svg');
  --cube-4: url('../../images/cube/34.svg');
  --cube-5: url('../../images/cube/35.svg');
  --cube-6: url('../../images/cube/36.svg');
  --cube-7: url('../../images/cube/37.svg');
  --cube-8: url('../../images/cube/38.svg');
  --cube-9: url('../../images/cube/39.svg');
  --cube-10: url('../../images/cube/310.svg');
  --cube-11: url('../../images/cube/311.svg');
  --cube-12: url('../../images/cube/312.svg');;
  
  --moon-1: url('../../images/diamond/41.svg');
  --moon-2: url('../../images/diamond/42.svg');
  --moon-3: url('../../images/diamond/43.svg');
  --moon-4: url('../../images/diamond/44.svg');
  --moon-5: url('../../images/diamond/45.svg');
  --moon-6: url('../../images/diamond/46.svg');
  --moon-7: url('../../images/diamond/47.svg');
  --moon-8: url('../../images/diamond/48.svg');
  --moon-9: url('../../images/diamond/49.svg');
  --moon-10: url('../../images/diamond/410.svg');
  --moon-11: url('../../images/diamond/411.svg');
  --moon-12: url('../../images/diamond/412.svg');
  --moon-13: url('../../images/diamond/413.svg');
  --moon-14: url('../../images/diamond/414.svg');
  --moon-15: url('../../images/diamond/415.svg');
  --moon-16: url('../../images/diamond/416.svg');

  --triangle-1: url('../../images/triangle/51.svg');
  --triangle-2: url('../../images/triangle/52.svg');
  --triangle-3: url('../../images/triangle/53.svg');
  --triangle-4: url('../../images/triangle/54.svg');
  --triangle-5: url('../../images/triangle/55.svg');
  --triangle-6: url('../../images/triangle/56.svg');
  --triangle-7: url('../../images/triangle/57.svg');
  --triangle-8: url('../../images/triangle/58.svg');
  --triangle-9: url('../../images/triangle/59.svg');
  --triangle-10: url('../../images/triangle/510.svg');
  --triangle-11: url('../../images/triangle/511.svg');
  --triangle-12: url('../../images/triangle/512.svg');
  --triangle-13: url('../../images/triangle/513.svg');
  --triangle-14: url('../../images/triangle/514.svg');
  --triangle-15: url('../../images/triangle/515.svg');
  --triangle-16: url('../../images/triangle/516.svg');
  --triangle-17: url('../../images/triangle/517.svg');
  --triangle-18: url('../../images/triangle/518.svg');
  --triangle-19: url('../../images/triangle/519.svg');
  --triangle-20: url('../../images/triangle/520.svg');
}